{% extends "conteneur3.html" %}

{% block titre %}
    {{name}}
{% endblock %}
{% block corps %}
    <h1>Bienvenue sur BioDiVienne, l'application de recensement du Vivant qui nous entoure</h1>
	<p>{% if especes %}
        Actuellement, il y a {{ especes|length }} espèces enregistrées :
        <ul>
            {% for espece in especes %}
            <li><a href="{{url_for('espece', espece_id=espece.espece_id)}}">{{espece.espece_nom_vernaculaire}}</a></li>
            <li><img src=/display/{{espece.espece_fichier}} width="50%"></li>
        </ul>

        {% endfor %}
        {% endif %}
    </p>

{% endblock %}