{% extends "conteneur3.html" %}

{% block titre %}| {{titre}}{%endblock%}

{% block corps %}
<style>
    body {
    background-color: #f7d695;
}

    h1 {
      color: teal;
      margin: 20px;
    }

  </style>
<div>
    <h1>{{titre}}</h1>
    {% include "partials/recherche.html" %}
    {% if resultats %}
        <p>Il y a {{resultats.total}} espèces qui correspondent à votre requête :</p>
        <ul>
            {% for espece in resultats.items %}
                <li><a href="{{url_for('espece', espece_id=espece.espece_id)}}">{{espece.espece_nom_vernaculaire}}</a></li>
            {% endfor %}
        </ul>
    {% endif %}
</div>
{% endblock %}