{% extends "conteneur3.html" %}

{% block corps %}
    {% if espece %}
<div>
<div class="row align-items-start">
		<div class="col">
            <img src=/display/{{espece.espece_fichier}} class="img-thumbnail img-responsive" href="{{espece.espece_droit_image}}"> <!--faire fonctionner le lien image-->
		</div>
		<div class="col">
			<h2>{{espece.espece_nom_vernaculaire}}</h2>
            <h4><i>{{espece.espece_nom_latin}}</i></h4>
			<div class="mb-3">
                <label class="form-label">{{espece.espece_description}}</label>
              </div>
            <div class="mb-3">
                <label class="form-label">Indice de préoccupation de la Liste rouge nationale (LRN) : {{espece.espece_preoccupation}}</label></br>
            </div>
</div>
</div>
    {% else %}
            <div class="row align-items-start">
                <div class="col">
        <p>La base de données est en cours de constitution</p>
                    </div>
            </div>
    {% endif %}
    <p><a class="float-right" href="{{url_for('accueil')}}">Retour à l'accueil</a></p>

{% endblock %}