{% extends "conteneur3.html" %}

{% block titre %}
    {{name}}
{% endblock %}
{% block corps %}
    {% if espece %}
<div>
    <style>
        body {
    background-color: #f7d695;
}
    img {
border-style: double;
border-width: thick;
border-color: steelblue;
margin-top: 30px;
}

.desc {
margin-top: 30px;
}

.preocc {
font-weight: bolder;
color: white;
border-style: ridge !important;
border-radius: 05%;
padding: 3px;
background-color: #bc2525;
border-width: 3px;
}

p.description {
border-top: dotted 1px;
margin: revert;
padding: 5px;
border-bottom: dotted 1px;
text-align: justify;
}

h1 {
color: teal;
}

h4 {
margin-left: 30px;
}
    </style>

<div class="row align-items-start">
    <div class="col">
            <img src=/display/{{espece.espece_fichier}} class="img-fluid" href="{{espece.espece_droit_image}}"> <!--faire fonctionner le lien image-->
    </div>
    <div class="col desc">
      <h1>{{espece.espece_nom_vernaculaire}}</h1>
            <h4><i>{{espece.espece_nom_latin}}</i></h4>
      <div class="mb-3">
                <p class="description">{{espece.espece_description}}</p>
              </div>
            <div class="mb-3">
                <p>Indice de préoccupation de la Liste rouge nationale (LRN) : <span class="preocc">{{espece.espece_preoccupation}}</span></p></br>
            </div>
</div>
</div>

    {% else %}
            <div class="row align-items-start">
                <div class="col">
        <p>La base de données est en cours de constitution</p>
                    </div>
            </div>
    {% endif %}
    <p><a class="float-right" href="{{url_for('accueil')}}">Retour à l'accueil</a></p>

{% endblock %}