{% extends "conteneur.html" %}
{% block titre %}
    {{name}}
{% endblock %}
{% block corps %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<style>

    body {
      background-color: #f7d695;
    }

    h2 {
      color: teal;
      margin: 20px;
    }


</style>
<body>

	<h2>Page de modifications</h2>
	{% if not espece %}
		<div class="alert alert-warning" role="alert">Erreur: espèce non trouvée.</div>
	{% else %}
	<div class="row align-items-start">
		<div class="col">
			<img src="/display/{{espece.espece_fichier}}" class="img-thumbnail img-responsive"/>
		</div>
		<div class="col">
			<h2><i>Caractéristiques de l'espèce :</i></h2>
	<form class="form" method="POST" action="/modifier_post" id="modif_post">
			<div class="mb-3">
                <label class="form-label">Nom vernaculaire</label>
                <input type="text" class="form-control" id="vernaculaire" name="vernaculaire" value="{{espece.espece_nom_vernaculaire}}">
              </div>
			<div class="mb-3">
                <label class="form-label">Nom latin</label>
                <input type="text" class="form-control" id="latin" name="latin" value="{{espece.espece_nom_latin}}">
              </div>
			<div class="mb-3">
                <label class="form-label">Description</label>
                <input type="text" class="form-control" id="description" name="description" value="{{espece.espece_description}}">
              </div>
			<div class="mb-3">
                <label class="form-label">Droit à l'image</label>
                <input type="text" class="form-control" id="droit_image" name="droit_image">
              </div>
			<label for="regne">Règne</label>
      <select name="regne" id="regne">
        <option value="animal">Animal</option>
        <option value="vegetal">Vegetal</option>
      </select></br>
			<label for="preoc">Preoccupation</label>
      <select name="preoccupation" id="preoc">
		  <option value="LC">Inconnue</option>
        <option value="LC">LC</option>
		  <option value="NT">NT</option>
		  <option value="VU">VU</option>
		  <option value="EN">EN</option>
		  <option value="CR">CR</option>
		  <option value="RE">RE</option>
      </select></br>
		<input type="hidden" value="{{espece.espece_id}}" name="espece_id">
		<input type="submit" value="Modifier">
	</form>
		</div>
	</div>
{% endif %}
</body>
</html>
{% endblock %}