{% extends "conteneur3.html" %}
{% block titre %}
    {{name}}
{% endblock %}
{% block corps %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>

<style>

    body {
      background-color: #f7d695;
    }

    h1 {
      color: teal;
      margin: 20px;
    }


</style>
<body>
    {% if action == "suppr" %}
        {% if statut == 0 %}
        <div class="alert alert-warning" role="alert">Suppression non autorisée.</div>
        {% else %}
        <div class="alert alert-success" role="alert">L'espèce a bien été supprimée.</div>
        {% endif %}
    {% elif action == "modif" %}
        {% if statut == 0 %}
        <div class="alert alert-warning" role="alert">Modification non autorisée.</div>
        {% else %}
        <div class="alert alert-success" role="alert">L'espèce a bien été modifiée.</div>
        {% endif %}
    {% else %}
    <div class="mes_especes">
        <div>
            <h1><span class="initiale">M</span>es espèces enregistrées :</h1>
            </div>
        <div>
        {% if especes|length == 0 %}
        Vous n'avez pas encore enregistré d'espèce.
        {% elif especes|length == 1 %}
        <p>Il y a une espèce enregistrée :</p>
        {% else %}
        <p>Il y a {{ especes|length }} enregistrées :</p>
        {% endif %}
        {% for espece in especes %}
                        <li><a href="{{url_for('espece', espece_id=espece.espece_id)}}">{{espece.espece_nom_vernaculaire}}</a>
                            <a type="button" class="btn btn-outline-warning btn-sm" href="{{url_for('espece_modif', espece_id=espece.espece_id)}}">modifier</a>
                            <a type="button" class="btn btn-outline-danger btn-sm" href="{{url_for('espece_supp', espece_id=espece.espece_id)}}">supprimer</a>
                        </li>
        {% endfor %}
            </div>
    </div>
    {% endif %}
{% endblock %}