/* style.css */
body {
  background-color: #B9D9EB;
    background-image: url("/static/uploads/martin_pecheur.jpeg");
    background-position-x: 10ch;
    background-position-y: 2ch;
}

h1 {
  color: teal;
  margin-left: 20px;
}


.hero  {
    background-position: center center;
    padding:10vh;
    background-image: url({{url_for('static', filename='images/font.jpg')}});
 }

.container {
background-image: none;
}
