<!DOCTYPE html>
<html lang="fr">
<head>
    <head>
    <meta charset="UTF-8">
    <title>BioDiVienne</title>
    {% include "partials/css.html" %}
    {% include "partials/metadata.html" %}
        <link rel="stylesheet" href="/static/css/style.css">

</head>
<body>
    <!-- section de la navbar -->
    <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #668ba4;">
        <a class="navbar-brand" href="{{url_for('accueil')}}" style="color: #f78536; font-size: x-large;"> <img class="d-inline-block" src="{{url_for('static', filename='images/pavot.png')}}" width="60" height="60" class="d-inline-block align-text-top"/>BioDiVienne</a>
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
          <li class="nav-item active"> <!-- faire boucle for sur arttibut active pour mettre en gras quand o, est sur la page-->
            <a class="nav-link nav-info" style="color: white" href="{{url_for('accueil')}}">Accueil</a>
          </li>
          <li class="nav-item dropdown nav-item"> <!-- faire boucle for sur arttibut active pour mettre en gras quand o, est sur la page-->
            <a class="nav-link dropdown-toggle" style="color: white" href="#" id="EspecesDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Espèces
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item nav-link" href="{{url_for('upload_form')}}">Enregistrer une espèce</a>
              <a class="dropdown-item nav-link" href="{{url_for('regne', espece_id='1')}}">Animal</a>
                <a class="dropdown-item nav-link" href="{{url_for('regne', espece_id='2')}}">Végétal</a>
                <a class="dropdown-item nav-link" href="{{url_for('regne', espece_id='0')}}">Tout</a>
            </div>
          </li>
            </li>
            <li class="nav-item"> <!-- faire boucle for sur arttibut active pour mettre en gras quand o, est sur la page-->
            <a class="nav-link " style="color: white;" href="{{url_for('page_apropos')}}">À propos</a>
          </li>
        </ul>
        <form class="form-inline my-2 my-lg-0" action="{{url_for('recherche')}}" method="GET">
            <a class="nav-link" style="color: white" src="{{url_for('recherche')}}" href="{{url_for('recherche')}}">Rechercher</a> <!--différence src et href-->

        </form>
        <ul class="navbar-nav mr-auto">
                {% if not current_user.is_authenticated %}
                  <li class="nav-item">
                    <a class="nav-link" style="color: white" href="{{url_for("inscription")}}">Inscription</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" style="color: white" href="{{url_for("connexion")}}">Connexion</a>
                  </li>
                {% else %}
                <li class="nav-item">
                <a class="nav-link" style="color: white" href="{{url_for("mon_compte")}}">Mon Compte</a>
                </li>
                  <li class="nav-item">
                    <a class="nav-link" style="color: white" href="{{url_for("deconnexion")}}">Déconnexion ({{current_user.user_nom}})</a>
                  </li>
                {% endif %}
        </ul>
        <ul class="navbar-nav mr-auto">
            <li class="nav-item" style="color: lightgray">&copy; 2022 E. Falcoz</li>
        </ul>
    </nav>
    <!-- contenu -->
    <div class="container">
    {% block corps %}{% endblock %}
    </div>
</div>
</body>
</html>