{% extends "conteneur3.html" %}

{% block titre %}| {{titre}}{%endblock%}

{% block corps %}

   {% include "partials/form.html" %}

<h3>Recherche : {{critere}}</h3>
    {% if resultats|length == 0 %}
    <p>Désolée aucune espèce trouvée.</p>
    {% elif resultats|length == 1 %}
    <p>Il y a {{resultats|length}} photo qui correspond à votre requête :</p>
    {% else %}
    <p>Il y a {{resultats|length}} photos qui correspondent à votre requête :</p>
    {% endif %}
    <ul>
        {% for espece in resultats %}
                        <li><a href="{{url_for('image', id=espece.id)}}">{{espece.nom_vernaculaire}}</a></li>
            {% endfor %}

        </ul>
{% endblock %}