{% extends "conteneur2.html" %}

{% block titre %}
    {%if photo %}| Photo : {{photo.titre}} {% endif %}
{% endblock %}

{% block corps %}
    {% if photo %}
        <h1>{{photo.titre}}</h1>
            <ul>
                <!-- tâche : parvenir à faire un if s'il y a une description -->
                <li><img src=/display/{{photo.lien_interne}} width="50%"></l></li>
                    {% if description %}
                    <li>Description: {{photo.description}}</li>
                    {% else %}
                    {% endif %}
                <li><p><i>Photo ajoutée par l'utilisateur <strong>{{photo.compte.pseudo}}</strong></i></p></li>

            </ul>

    {% else %}
        <p>La base de données est en cours de constitution</p>
    {% endif %}
    <p><a href="{{url_for('accueil2')}}">Retour à l'accueil</a></p>
{% endblock %}