<!DOCTYPE html>
<html>
{% extends "conteneur3.html" %}
{% block corps %}

<title>Python Flask Image Upload and Display Example</title>
<h3>Pour ajouter une espèce, renseignez le plus possible les champs suivants</h3>
	{% with messages = get_flashed_messages() %}
	  {% if messages %}
		<ul>
		{% for message in messages %}
		  <li>{{ message }}</li>
		{% endfor %}
		</ul>
	  {% endif %}
	{% endwith %}
{% if filename %}
	<div>
		<img src="{{
		url_for('display_image', filename=filename) }}">
	</div>
{% endif %}
<form method="post" action="/upload" enctype="multipart/form-data">
    <dl>
		<div>
			<input type="file" name="image" autocomplete="off" required><br/>
			Nom vernaculaire : <input class="font-italic" type="text" name="vernaculaire"><br/>
			</select>
		</div>
    </dl>
    <p>
		<input type="submit" value="Submit">
	</p>
</form>
{% endblock %}
</html>